.weather-app {
  font-family: Arial, sans-serif;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(187, 182, 182, 0.56);
}

.app-title {
  text-align: center;
  margin: 5vh;
}

.weather-container {
  max-width: 800px;
  margin: 0 auto;
}

.selected-day-title {
  margin: 40px 4.5vh 20px;
}

.day-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.selected-day {
  display: flex;
  align-items: center;
}

.selected-day p {
  margin-left: 10px;
}

.hourly-weather {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
}

.hourly-forecast {
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(190, 235, 180, 0.85);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: black;

}

.hourly-forecast p {
  margin: 5px 0;
}

.weather-icon {
  width: 50px;
  height: 50px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-navigation button {
  background-color: rgba(190, 235, 180, 0.85);
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.day-navigation button:hover {
  background-color: rgba(190, 235, 180, 0.71);
  transition: 0.5s;
}

.hourly-forecast:hover {
  background-color: rgb(190, 235, 180);
  transition: 0.5s;
}

.day-navigation button:disabled {
  background-color: rgba(42, 42, 42, 0.69);
  color: white;
  transition: 0.5s;
  cursor: not-allowed;
}

.day-navigation button:not(:last-child) {
  margin-right: 10px;
}