.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: 0 10px;
    box-shadow: 0 0 5px rgb(187, 182, 182);
}

.logo, .coordinates, .Auth, .toggle {
    transition: color 0.3s ease;
}

.logo, .Auth {
    font-size: 20px;
}

.coordinates {
    margin-left: 2.5vh;
}

.rightItems {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.Auth {
    margin-left: -11vh;
}

.toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: -2vh;
    color: #333;
}